* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.perspective-1000 {
  perspective: 1000px;
}
/* Add this to your global styles (tailwindcss or custom stylesheet) */
@keyframes news-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-news-scroll {
  animation: news-scroll 20s linear infinite;
}
